// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container {

}

#left_container {
    float:left;
    width:315px;
    margin-left: 10px;
  /*  border-right: 1px solid red; */
}

#users_list {
    width: 266px;
    border: 3px solid #E4D8D8;
    margin-top: 20px;
    border-radius: 7px;
    display: none;
}

.user_info{
    line-height: 42px;
    display: block;
    border-bottom: 2px solid #E9DADA;
    padding-left: 10px;
    cursor: pointer;
}

.user_info.active { background-color: #CF720D; color: white; border-radius: 3px;}

.user_commits { border: 1px solid #E0D6D6; width: 70%; border-radius: 10px; }

.profile_pic {
    width: 44px;
    height:42px;
    float: right;
    border-radius: 30px;

}

#right_container {
    margin-left: 315px;
    width: 100%;
    min-height: 700px;

}

#loading_div{
    position: fixed;
    top: 0px;
    left:48%;
    width: 87px;
    height: 28px;
    background-color: #00C2FF;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

.time_info {
    font-weight: bold;
}

.space_name_info {
    color: red;
}

.whatchanged_info {
    color: #EE0E70;
}

.row_info {
    border-bottom: 1px solid #C5B7B7;
}

.nav a{
    cursor: pointer;
}


.ticket_status { color: red; }
.ticket_summary {color: #4D22D6; font-weight: bold; }
.ticket_desc { margin-left: 30px; color: #888809; }
.space_name { font-size: 14pt; text-decoration: underline; color: #E000FF;}
.each_user_tickets { border: 1px solid #E0D6D6; width: 70%; border-radius: 10px; padding: 15px; }

